    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for img in page.carousel %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}" 
                {% if forloop.index0 == 0 %}
                    class="active"
                {% endif %}>
                </li>
            {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for img in page.carousel.first %}
                <div class="item active">
                    <a data-rel="prettyPhoto" href="{{ "/assets/img/components/carousel/" | prepend: site.baseurl }}{{ img }}">
                    <img src="{{ "/assets/img/components/carousel/" | prepend: site.baseurl }}{{ img }}" alt="">
                    </a>
                </div>
            {% endfor %}
            {% for img in page.carousel offset:1 %}
                <div class="item">
                    <a data-rel="prettyPhoto" href="{{ "/assets/img/components/carousel/" | prepend: site.baseurl }}{{ img }}">
                    <img src="{{ "/assets/img/components/carousel/" | prepend: site.baseurl }}{{ img }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div> <!--/Carousel -->
