<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>Networked Measurment and Control</h3>
                <h1>Sensor Nodes</h1>
                <h5>An experiment in IoT for the home.</h5>
            </div>
            <div class="col-xs-6 col-xs-offset-3 himg">
                <img src="{{ "/assets/img/houseAndNodes.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
