<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/retina-1.1.0.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.hoverdir.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.hoverex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/ekko-lightbox.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.isotope.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
{% if site.analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}
<script>
// Components
(function($) {
	"use strict";
	var $container = $('.components'),
		$items = $container.find('.components-item'),
		componentsLayout = 'fitRows';
		
		if( $container.hasClass('components-centered') ) {
			componentsLayout = 'masonry';
		}
				
		$container.isotope({
			filter: '*',
			animationEngine: 'best-available',
			layoutMode: componentsLayout,
			animationOptions: {
			duration: 750,
			easing: 'linear',
			queue: false
		},
		masonry: {
		}
		}, refreshWaypoints());
		
		function refreshWaypoints() {
			setTimeout(function() {
			}, 1000);   
		}
				
		$('nav.components-filter ul a').on('click', function() {
				var selector = $(this).attr('data-filter');
				$container.isotope({ filter: selector }, refreshWaypoints());
				$('nav.components-filter ul a').removeClass('active');
				$(this).addClass('active');
				return false;
		});
		
		function getColumnNumber() { 
			var divWidth = $("#projComponents").width(), 
			columnNumber = 1,
                        imgWidMin=160;
		
			if (divWidth > (6 * imgWidMin)) {
				columnNumber = 6;
			} else if (divWidth > (5 * imgWidMin)) {
				columnNumber = 5;
			} else if (divWidth > (4 * imgWidMin)) {
				columnNumber = 4;
			} else if (divWidth > (3 * imgWidMin)) {
				columnNumber = 3;
			} else if (divWidth > (2 * imgWidMin)) {
				columnNumber = 2;
			}
				return columnNumber;
			}       
			
			function setColumns() {
                                var divWidth = $("#projComponents").width(), 
				columnNumber = getColumnNumber(), 
				itemWidth = Math.floor(divWidth / columnNumber);
				
				$container.find('.components-item').each(function() { 
					$(this).css( { 
					width : itemWidth + 'px' 
				});
			});
		}
		
		function setComponents() { 
			setColumns();
			$container.isotope('reLayout');
		}
			
		$container.imagesLoaded(function () { 
			setComponents();
		});
		
		$(window).on('resize', function () { 
		setComponents();          
	});
})(jQuery);
</script>
